POSTGRES_SECRET_USER=user
POSTGRES_SECRET_PASSWORD=12345
RABBIT_SECRET_USER=guest
RABBIT_SECRET_PASS=guest
PASSWORD_PEPPER=12345
FILE_STORAGE_ROOT_PATH=/app/Storage
JWT_SECRET=UkVQTEFDRV9XSVRIX0FfQkFTRTY0X1NFQ1JFVF9PRl9BVF9MRUFTVF8zMl9CWVRFU19MT05HX0tFWV9IRVJF
JWT_ISSUER=Vention.API
JWT_AUDIENCE=Vention.Client
JWT_EXPIRATION_MINUTES=30
GATEWAY_SHARED_SECRET=VWtWUVRFRkRSVjlYU1ZSSVgwRmZRa0ZUUlRZMFgxTkZRMUpGVkY5UFJsOUJWRjlNUlVGVFZGOHpNbDlDV1ZSRlUxOU1UMDVIWDB0RldWOUlSVkpG